{% extends 'base.html' %}
{% block content %}
<h2>Tableau de bord (Employé)</h2>
<div class="row my-4">
    <div class="col-md-6">
        <div class="card bg-primary text-white">
            <div class="card-body">
                <h5>Médicaments</h5>
                <p class="display-6">{{ total_drugs }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card bg-success text-white">
            <div class="card-body">
                <h5>Ventes</h5>
                <p class="display-6">{{ total_sales }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
